@font-face {
  font-family: "Atkinson";
  src: url("/fonts/Atkinson-Hyperlegible-Bold-102.eot") format("eot"),
    url("/fonts/Atkinson-Hyperlegible-Bold-102.ttf") format("ttf"),
    url("/fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff"),
    url("/fonts/Atkinson-Hyperlegible-Bold-102.woff2") format("woff2"),
    url("/fonts/Atkinson-Hyperlegible-Bold-102.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/Atkinson-Hyperlegible-BoldItalic-102.eot") format("eot"),
    url("/fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf") format("ttf"),
    url("/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"),
    url("/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff2") format("woff2"),
    url("/fonts/Atkinson-Hyperlegible-BoldItalic-102.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/Atkinson-Hyperlegible-Italic-102.eot") format("eot"),
    url("/fonts/Atkinson-Hyperlegible-Italic-102.ttf") format("ttf"),
    url("/fonts/Atkinson-Hyperlegible-Italic-102.woff") format("woff"),
    url("/fonts/Atkinson-Hyperlegible-Italic-102.woff2") format("woff2"),
    url("/fonts/Atkinson-Hyperlegible-Italic-102.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/Atkinson-Hyperlegible-Regular-102.eot") format("eot"),
    url("/fonts/Atkinson-Hyperlegible-Regular-102.ttf") format("ttf"),
    url("/fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
    url("/fonts/Atkinson-Hyperlegible-Regular-102.woff2") format("woff2"),
    url("/fonts/Atkinson-Hyperlegible-Regular-102.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
