---
interface Props {
  title: string;
  email: string;
  className?: string;
}

/**
 * Component for rendering a email link.
 */
const { title, email, className } = Astro.props;
---

<a href={`mailto:${email}`} aria-label={title} class={className}>
  <slot />
</a>
