---
export const prerender = true;

import Layout from "@/src/layouts/index.astro";
import defaultHelloWasm from "@/public/wasm/release.js";
console.log(defaultHelloWasm(1,1))
---

<Layout>
  <main class="container mx-auto">
    <h1 class="text-4xl">Contact</h1>
  </main>
</Layout>
