---
// export const prerender = true;

import { defaultHelloWasm } from "./../../public/wasm/release.js";
console.log(defaultHelloWasm(1,1))

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
<script type="module" is:inline>
  import { defaultHelloWasm } from "./wasm/release.js";
  document.body.innerText = defaultHelloWasm(1, 2);console.log(defaultHelloWasm(1,1))
  </script>
  </body>
</html>