---
export const prerender = true;

import Layout from "@/src/layouts/index.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("es");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"documentation">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <main class="container px-4 mt-2 sm:px-0 sm:mx-auto">
    <h1 class="text-3xl font-bold mb-6">{post.data.title}</h1>
    <div class="grid w-full place-items-center">
      <img
        class="mb-8 border border-gray-500 object-contain hover:object-scale-down"
        src={post.data.image}
        alt={post.data.title}
      />
    </div>
    <article class="prose prose-gray dark:prose-invert max-w-none">
      <Content />
    </article>
  </main>
</Layout>
