---
export const prerender = true;
import Layout from "@src/layouts/index.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("globals", "privacy-policy");
const { Content } = await entry.render();
---

<Layout>
  <main class="container px-4 mt-2 sm:px-0 sm:mx-auto">
    <h1 class="text-3xl font-bold mb-8">{entry.data.title}</h1>
    <article class="prose prose-gray dark:prose-invert max-w-none">
      <Content />
    </article>
  </main>
</Layout>
